* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: sans-serif;
   color: #fff;
   background-color: #C9D6DF;
}

ul {
   list-style: none;
}

button {
   font-size: 16px;
   font-weight: 600;
   color: #52616B;
   background-color: #C9D6DF;
   border: none;
   border-radius: 2px;
   outline: none;
   cursor: pointer;
}